body{
  background-image: url(background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}
.container{
  border:0px solid black;
  border-radius:15px;
  background-color:rgba(0, 0, 0, 0.5);
  width:1000px;
  height:600px;
  margin:100px auto;
}
header,nav{
  text-align:center;
}
h1{
  color:#42f56c;
  line-height:10px;
}
img{
  height:90px;
  margin-top:30px;
}
nav{
  background-color:#0dde14;
  height:30px;
  padding-top:8px;
  margin-left:100px;
  margin-right:100px;
}
section{
  margin-left:100px;
}
h3{
  display: inline-block;
  color:white;
  font-family:serif;
  line-height:10px;
}
div section{
  color:white;
}
.medium{
  border:10px solid orange;
  margin-right:700px;
  border-radius:6px;
}
.full{
  border:10px solid green;
  margin-right:500px;
  border-radius:6px;
}
.low{
  border:10px solid red;
  margin-right:800px;
  border-radius:6px;
}
.indicator:before{
  content:"\27FC"
}
